<!DOCTYPE html>
<html>
  <head>
    <title>BugMojo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" 
href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
integrity="sha384- 
 B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
  crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  </head>

  <script type="text/javascript">
    window.logo = "<%= image_url('stackoverflow_logo.png') %>"
    window.background = "<%= image_url('daydream.svg') %>"

    window.i = "<%= image_url('identicon.svg')%>"
    window.i2 = "<%= image_url('identicon2.png')%>"
    window.i3 = "<%= image_url('identicon3.png')%>"
    window.i4 = "<%= image_url('identicon4.png')%>"
    window.i5 = "<%= image_url('identicon5.png')%>"
    window.i6 = "<%= image_url('identicon6.png')%>"
    window.i7 = "<%= image_url('identicon7.png')%>"
    window.i8 = "<%= image_url('identicon8.png')%>"
    window.i9 = "<%= image_url('identicon9.png')%>"
    window.i10 = "<%= image_url('identicon10.png')%>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
